* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

#form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.saldo-geral {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.extrato {
  margin-top: 10px;
}

.item-transacao {
  display: grid;
  grid-template-columns: 2fr 1fr 120px 40px;
  align-items: center;
  gap: 12px;

  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #cc462e;
}

.item-transacao.entryColor {
  border-left: 5px solid #2ecc71;
}

.delete {
  background-color: #cc462e;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;

  font-weight: bold;
  font-size: 14px;

  transition: all 0.3s ease;
}

.delete:hover {
  transform: scale(1.1);
}
