* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.main-title {
  text-align: center;
}

#form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.saldo-geral {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.extrato {
  margin-top: 10px;
}

.item-transacao {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-right: 5px solid #cc462e;
}
